* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(213, 239, 247);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    position: relative;
    width: 220px;
    border: 1px solid #ccc;
    margin-right: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.box .header {
    height: 160px;
    width: 100%;
}

.box .header img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.box .avator {
    position: relative;
    top: -188px;
    left: 22%;
    overflow: hidden;
}

.box .avator img {
    width: 63.33px;
    height: 63.33px;
    margin-left: 20px;
    border-radius: 50%;
}

.box .avator p {
    float: right;
    margin-right: 80px;
    margin-top: 30px;
    color: #666666;
}

.box .content {
    padding: 20px;
    margin-bottom: 20px;
}

.box .content .t1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.box .content .t2 {
    color: #ccc;
    margin-top: 10px;
}

.box .show {
    position: absolute;
    width: 100%;
    bottom: 100px;
    overflow: hidden;
    padding: 10px;
    background-color: rgb(89, 88, 89);
}

.box .show .d1 {
    padding: 5px 20px;
    float: left;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 20px;
    font-size: 10px;
}

.box .show .d2 {
    float: right;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 10px;
}