<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css" />
</head>

<body>
    <!-- 挂载到这 -->
    <div id="root">
        <!-- <div  class="box" v-for ="(item,index) in details" ::key="index">
          <div class="header">

            <img :src ="item.image" class="activeClass" @mouseover="change(item)" @mouseleave="change(item)">
            
        </div>
        <div class="avator">
            <img :src = "item.imgs">
            <p>{{item.name}}</p>
        </div>

        <div class="show" v-show="item.isShow && !item.finished">
                <p class="d1">{{item.lable1}}</p>
                <p class="d2">{{item.lable2}}</p>
        </div>

        <div class="content">
            <p class="t1">{{item.subject}}</p>
            <p class="t2">{{item.class}}</p>
        </div>
        </div> -->
        <div class="nav-bar"></div>
        <div class="cart">Cart({{cart}})</div>

        <div class="product-display">
            <div class="product-container">
                <div class="product-image">
                    <img :src="image">
                </div>

                <div class="product-info">
                    <h1>{{product}}</h1>
                    <p>{{description}}</p>
                    <p v-show="inStock">In Stock</p>
                    <p style="display:none">In Stock</p>
                    <a :href="url">Vue3 官网</a>
                    <p v-if="inStock">in stock</p>
                    <p v-else-if ="inventory<=10 && inventory >0">Almost sold out</p>
                    <p v-else>Out of stock</p>
                    <ul>
                        <li v-for="detail in details">{{detail}}</li>
                    </ul>

                    <div v-for="variant in variants" :key="variant.id" @mouseover="updateImage(variant.image)" class="color-circle" :style="{backgroundColor:variant.color}">
                        <!-- {{variant.color}} -->
                    </div>
                    <button class="button" :class="{disalbeButton:!inStock}" :disabled="!inStock" v-on:click="addTochart">Add to Cart</button>
                    <button class="button" @click="removechart">Remove Item</button>
                    <!-- 启动或禁用按钮 -->
                    <!-- <div>
                        <button :disabled="count<3">button</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./main.js"></script>
    <!-- Mount app -->
    <script>
        const mountedApp = app.mount('#root')
    </script>
</body>

</html>